body.--modalOpen {
  position: fixed;
  overflow: hidden;
}

.qcw-container {
  z-index: 9001
}

.qcw-cs-container {
  color: #444;
  position: fixed;
  bottom: 20px;
  right: 42px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  flex-direction: column;
  -webkit-box-align: end;
  align-items: flex-end;
  font-size: 16px;
  z-index: 900;
}

.qcw-cs-container.--open .qcw-cs-wrapper {
  height: 400px;
  position: fixed;
}

.qcw-cs-submit-form,
.qcw-cs-trigger-button {
  background: #94ca62;
  color: #fff;
  padding: 10px 15px;
  border-radius: 19px;
  vertical-align: middle;
  width: 120px;
  text-align: center;
  cursor: pointer;
  transition: all .3s ease;
  box-shadow: 0 7px 16px rgba(46, 46, 46, .15);
  border: 0;
  outline: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  height: 45px;
}

.qcw-cs-trigger-button:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  box-shadow: 0 7px 16px rgba(46, 46, 46, .25);
}

.qcw-cs-wrapper {
  width: 360px;
  height: 0;
  box-shadow: 0 7px 16px rgba(46, 46, 46, .15);
  border-radius: 19px;
  overflow: hidden;
  position: absolute;
  transition: all .15s ease-in-out;
  bottom: 80px;
  background-color: #fafafa;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.qcw-cs-wrapper .qcw-cs-close {
  position: absolute;
  right: 16px;
  top: 20px;
  color: #979797;
  font-size: 30px;
  z-index: 9000;
  cursor: pointer;
}

.qcw-cs-wrapper .qcw-cs-box-form {
  width: 70%;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
}

.qcw-cs-wrapper .qcw-cs-box-form label {
  margin-bottom: 0;
}

.qcw-cs-wrapper .qcw-cs-box-form>h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.28;
}

.qcw-cs-wrapper .qcw-cs-box-form>p {
  margin-top: 0;
  margin-bottom: 15px;
}

.qcw-cs-wrapper .qcw-cs-box-form .qcw-cs-form-group {
  margin-bottom: 15px;
}

.qcw-cs-wrapper .qcw-cs-box-form .qcw-cs-form-group .qcw-cs-form-field {
  border-radius: 19px;
  border: 1px solid #ccc;
  padding: 4px 10px;
  width: 100%;
  outline: 0;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  font-size: 16px;
  height: 40px;
  box-sizing: border-box;
}

.qcw-cs-submit-form {
  width: 100%;
}

.qcw-cs-submit-form:hover {
  background: #4a9739;
}

.qcw-cs-form-group.error {
  background: #c0392b;
  border-radius: 19px;
  color: #fff;
  padding: 2px 20px;
  text-align: center;
}

.qcw-cs-form-group.error span {
  font-size: 13px;
}

@media (max-width:600px) {
  .qcw-container.qcw-container--open {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  .qcw-container.qcw-container--open .qcw-chat-wrapper {
    right: 0;
    bottom: 0;
    width: 100%!important;
    height: 100%!important;
    z-index: 8888;
    border-radius: 0;
  }
  .qcw-container.qcw-container--open .qcw-trigger-btn,
  .qcw-cs-container .qcw-cs-trigger-button {
    position: fixed;
    bottom: 20px;
    right: 42px;
  }
  .qcw-cs-container {
    z-index: 9000;
  }
  .qcw-cs-container.--open {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  .qcw-cs-container.--open .qcw-cs-wrapper {
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 8888;
    border-radius: 0;
  }
}
